.wpage {
	position: absolute;
	top: 200px;
	left: 450px;
}
.clear {
	clear: both;
}
.rondet {
	border-radius: 50px;
}
.stat-ip {
	position: absolute;
	top: 241px;
	left: 38%;
}
.stat-stat {
	position: absolute;
	top: 300px;
	left: 45%;
}
.stat-player {
	position: absolute;
	top: 354px;
	left: 40%;
}
.stat-motd {
	position: absolute;
	top: 400px;
	left: 38%;
}
.stat-motd1 {
	position: absolute;
	top: 441px;
	left: 33%;
}
/*.bg-grd {
	background: #0F2027;  /* fallback for old browsers 
	background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);   Chrome 10-25, Safari 5.1-6 
	background: linear-gradient(to right, #2C5364, #203A43, #0F2027);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
}*/
.bg-grd {
	background-image: url("../img/mcbg.jpg");
}
.wpage2 {
	position: absolute;
	top: 315px;
	left: 37%;
}